---
title: "Building Decentralized Applications<br />with Solid and Comunica (SOCOM)"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Joachim Van Herwegen', '#', 'https://data.verborgh.org/people/joachim_van_herwegen' %>
- <%= person 'Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec,
            {firstname.lastname}@ugent.be

<section class="context" markdown="block">
## In reply to
- [The Web Conference 2019 call for tutorials](https://www2019.thewebconf.org/call-for-tutorials){:rel="as:inReplyTo"}
</section>

<br />

<%= section 'abstract' %>
</header>

<main>
  <%= section 'motivation' %>
  <%= section 'description' %>
  <%= section 'material' %>
  <%= section 'audience' %>
  <%= section 'presenters' %>
  <%= section 'related-events' %>
  <%= section 'requirements' %>
</main>

<footer></footer>
