---
title: "Building Decentralized Applications<br />with Solid and Comunica (SOCOM)"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>
- <%= person 'Joachim Van Herwegen', '#', 'https://data.verborgh.org/people/joachim_van_herwegen' %>
- <%= person 'Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec

<center class='screen-only'>
    <a href='https://solid.inrupt.com/'><img src='img/logo-solid.svg' height='300px' /></a>
    <a href='http://comunica.linkeddatafragments.org/'><img src='img/logo-comunica.svg' height='300px' /></a>
</center>

<section class="context" markdown="block">
Tutorial at [ISWC 2019](https://iswc2019.semanticweb.org/call-for-tutorial-proposals/){:rel="as:inReplyTo"}, October 26th or 27nd 2019
</section>

<br />

<%= section 'abstract' %>
</header>

<section class="contents screen-only" markdown="1">
## Contents
* [Motivation](#motivation)
* [Description](#description)
* [Material](#material)
* [Audience](#audience)
* [Presenters](#presenters)
* [Related Events](#related-events)
* [Requirements](#requirements)
</section>

<main>
  <%= section 'motivation' %>
  <%= section 'description' %>
  <%= section 'material' %>
  <%= section 'audience' %>
  <%= section 'presenters' %>
  <%= section 'related-events' %>
  <%= section 'requirements' %>
</main>

<footer></footer>
